services:
  asm-server:
    image: asm-server:latest
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    ports:
      - "9911:8080"
    restart: unless-stopped
