apiVersion: v1
kind: Service
metadata:
  name: asm-server
  labels:
    app: asm-server
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: asm-server
